.article_head
{
	font-size:30px;
	font-style:Bahnschrift Light;
}
.page_logo_text
{
	font-size:40px;
	font-style:Bahnschrift Light;
	text-align:left;
	color:white;
}
.header_style
{
	background-color:black;
}